/* ----------------- Universal Styles ----------------------*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: inline-block;
    width: 100%;
}

body {
    overflow-x: hidden;
   
}





@font-face {
    font-family: hello;
    src: url(Fonts/optima-cufonfonts/OPTIMA.TTF);
}

@font-face {
    font-family: avenir;
    src: url(Fonts/avenir/AvenirNextLTPro-Regular.otf);
}


h1, h2, h3, h4, li {
    color: #000000;
    line-height: 150%;
    font-family: hello;
    
}

.dark-bg h3{
    color: #E0C18E;
}

.white-line {
    height: 2px; /* Line thickness */
    background-color: white; /* Line color */
    
  }

p {
    line-height: 150%;
    color: #1B1B1B;
    font-size: 18px;
    font-family: avenir;
}



h1, h2 { 
    font-size: 2rem;
 }


@media (min-width:650px){
    h2 { font-size: 3rem; }
}

@media (min-width:1000px){
h1 { font-size: 2.875rem;}
}


a {
    line-height: 150%;
    color: #1B1B1B;
    text-decoration: none;
    z-index: 1000;
}

li a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

ol {
    list-style-type: none;
}

.padding {
    padding-top: 5%;
    padding-bottom: 5%;
}

.paddinghalf{
    padding-top: 1%;
    padding-bottom: 1%; 
}

.paddingtop {
    padding-top: 5%;
}

.paddingbottom {
    padding-bottom: 5%;
}

@media(max-width: 650px){
    .paddingmob {
        padding-top: 10%;
        padding-bottom: 10%;
    }
    
    .paddingtopmob {
        padding-top: 10%;
    }
    
    .paddingbottommob {
        padding-bottom: 10%;
    }
}

header img{max-width: 200px;}
footer img{max-width: 200px;}

/* Background */


/* Background */


/* Navbar start */
nav {
    display: flex;
    justify-content: space-between;
}

.navbar {
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10000;
}

.navbar img {
    width: 150px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    z-index: 10000;
}

.nav-menu.active {
    left: 0;
    z-index: 10000;
}


.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
    cursor: pointer;
}

.nav-link:hover {
     color: #E0C18E;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #1B1B1B;
    transition: all 0.3s ease-in-out;
}

/* Header tablet */
@media (max-width: 1025px) {
    .hamburger {
        display: block;
      }
    
      .hamburger.active .bar:nth-child(2) {
        opacity: 0;
      }
    
      .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
    
      .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }  

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 75px;
        flex-direction: column;
        background-color: #ffffff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1000;
    }

  
}

/* Most phones */
@media (max-width: 1025px) {
    .nav-menu {
        top: 80px;
    }
}

/* Navbar end */



/* ------------------- Button Styles ----------------------*/
.buttons-div { display: flex; gap: 1rem; }

.button{
    background-color: white;
    border: #E0C18E 3px solid;
    padding: 10px 20px;
    font-size: 18px;
}
.button-dark{
    background-color: rgb(0, 0, 0);
    border: #E0C18E 3px solid;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
}




/* ------------------- Container and Layout Styles ----------------------*/
.container {
    padding: 0 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.half-page { display: flex; flex-direction: column; gap: 1rem; }

.parent-of-half-page {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 768px) {
    .container { max-width: 1440px; }
    .parent-of-half-page img { max-width: 100%; }
    .three-benefits {
        display: flex;
        gap: 12%;
        justify-content: space-between;
    }

    .reverse-parent { flex-direction: row-reverse; }

    .parent-of-half-page {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .half-page{
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .half-page-image{
        align-items: end;
    }


  

    .reverse-parent{
        display: flex;
        flex-direction: row-reverse;
    }
    
}

@media (min-width: 650px) { 
    .container { padding: 0 3rem; } }
@media (min-width: 1200px) { 
    .container { padding: 0 6rem; } }

.middle-align, .middle {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle-align img { vertical-align: middle; }

@media (min-width: 650px) {
    .middle {
        flex-direction: row;
        width: 100%;
    }
  
      .hero{
          justify-content: space-between;
      }

}


/*--------------------- Universal Styles ------------------------*/

.image-gallery img, .hero img {
    width: 100%;
}
/*--------------------- Hero Section ------------------------*/
.half-page-image img{
    border: 2px solid black;
}

@media (min-width: 600px) {
    .hero-title, .hero-image, .hero {
        justify-content: space-between;
    }

    .hero-title, .hero-image {
        gap: 1rem;
        width: 40%;
    }

    .hero-image {
        width: 60%;
    }
}

.cell img{
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(1fr);
    gap: 10px;
}


@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1fr);
    }

    .offer{
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1fr);
    }
}

.imagegrid-container {
    display: grid;
    grid-template-rows: repeat(1fr);
    gap: 2rem;
}


@media (min-width: 1200px) {
    .imagegrid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1fr);
    }
}

/*-----------------End of Why Us Section ---------------------*/

/* Contact*/

form{
   
    color: #4B4B4B;
}

  /* Input and textarea styles */
  input,
  textarea {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #cccccc;
    background: white;
    height: 48px;
  }

.email-form{
    gap: 16px;
    display: flex;
    flex-direction: column;
  }

footer{
    background-color: #616161;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-row img{
    max-width: 150px;

}

footer p, footer a, footer h3 {
    color: white;
}


footer p:hover,
footer a:hover
{
    color: grey;
    animation: fadeIn 2s ease-in-out ;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.gallery-grid .image-wrapper {
    padding: 10px; /* Adjust this value for desired padding */
    display: flex;
    aspect-ratio: 1 / 1; 
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid #000;
    height: 100%; /* Ensure the wrapper fills the entire grid cell */
}

.gallery-grid img {
    height: 80%;
 
    object-fit: cover; /* This ensures the image covers the entire space without distortion */
}

  @media (min-width:1025px){
    .namebox{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 16px;
      }
  
      .name-box{
        width: 48%;
      }

      .name-group{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
      }
  }

  @media (min-width:600px){
    .footer-nav{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    #bottom-nav{
        align-items: center;
    }

    .gallery-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    
  }

